*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: row;
}

nav{
  background: blue;
  width: 100%;
  height: 50px;
  margin-top: 40px;
}

.nav{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  float: right;
  padding-right: 20px;
  gap: 8px;
  list-style-type: none;
}

.nav>li{
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 20px;
  color: black;
}

.nav>li>Link{
 
}

.vl {
  border-left: 3px solid black;
  height: 20px;
}

.calculate {
  background: #f8f8f8;
  width: 320px;
  box-shadow: 0 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.screen {
  height: 45px;
  width: 100%;
  background: gray;
  color: #f4f4f4;
  padding-top: 10px;
  text-align: end;
  padding-right: 5px;
}

.btns {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.btn {
  height: 45px;
  width: 80px;
  background: lightgray;
  border: 0.1px solid rgb(235, 234, 234);
}

.zero {
  width: 160px;
  grid-column: 1/3;
}

.btn1 {
  background: rgb(255, 123, 0);
}
/* .home{
  
  width: 700px;
  height: 700px;
} */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
}

.App {
  background: #f30d0d;
  width: 100%;
  height: 100%;
  box-shadow: 0 9px 15px -3px rgba(250, 6, 6, 0.1);
}

.quote {
  background: #f8f8f8;
}

.load {
  position: relative;
  left: 70px;
  top: 120px;
}

h1 {
  position: relative;
  top: 20px;
  font-weight: 600;
  text-align: center;
}

.quotes {
  font-style: italic;
  position: relative;
  left: 20px;
  top: 20px;
  padding-right: 20px;
  margin-right: 20px;
}


 */
